@import url("https://unpkg.com/leaflet@1.7.1/dist/leaflet.css");
#map {
  margin: 0 auto;
  width: 100%;
  min-height: 80vh;
  max-height: 80vh;
  height: 100%;
  border: 10px solid rgb(0,123,255);
  border-radius: 20px;
  margin-bottom: 16px;
}

.leaflet-popup-content img, .leaflet-tooltip-pane img{
  width: 100%;
}

.leaflet-control-layers-base, .leaflet-control-layers-overlays {
  text-align: left;
}